<div>
    <h2 class="title">Angular Tree BFS Search Implementation</h2>
    <div class="tree-search">
        <div class="input-cont">
            <input (keyup)="onKeyUp($event)" [(ngModel)]="searchStr" placeholder="Number to search" />
        </div>
        <div class="search-result">
            <div *ngIf="error" class="error">
                {{error}}
            </div>
            <div *ngIf="result && result.length === 0" class="no-result">
                No Results Found
            </div>
            <div *ngIf="result && result.length !== 0" class="result">
                <div *ngFor="let r of result">
                    {{r.join(' / ')}}
                </div>
            </div>
        </div>
    </div>
</div>