.title{
  text-align: center;
}

.tree-search{
  width: 600px;
  border: 1px solid #ccc;
  min-height: 600px;
  margin: auto;
}

.tree-search .input-cont {
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tree-search input {
  outline: 0;
  width: 200px;
  text-align: center;
}

.tree-search .search-result {
  padding: 10px;
}

.tree-search .search-result .error{
  color: red;
  text-align: center;
}

.tree-search .search-result .no-result{
  color: #ccc;
  text-align: center;
}

.tree-search .search-result .result{
  color: #333;
  text-align: center;
}